body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 600px;
    height: 300px;
    background-color: #ddd;
    padding: 10px;
}

.parent div {
    background-color: #ff583b;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%; 
    height: 40px;
}
